.error {
    background-color: red
}

span:after {
    content: "";
    display: inline-block;
    width: 5px;
}

.highlight {
    color: pink;
    text-decoration: underline;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(183,128,227);
    background: radial-gradient(circle, rgba(216,151,191,1) 0%, rgba(118,62,112,1) 90%);
    color: white;
    font-family: 'Changa', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

main{
    display:grid;
    place-items: center;
    max-width: 540px;
    margin: 0 auto;
    line-height: 2rem;
}

h1 {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 3em;
    line-height: 105%;
    color: rgb(115,53,102);
    font-family: 'Sarpanch', Arial, Helvtica, sans-serif;
}

p {
    text-align: center;
    font-size: 1.3em;
}

button{
    display: flex;
    margin: 0 auto;
    padding: 20px;
    border: 0;
    border-radius: 60px;
    font-size: 1.6em;
    vertical-align: center;
    background-color: white;
    cursor: pointer;
    overflow: hidden;
    font-family: 'Sarpanch', Arial, Helvtica, sans-serif;
    font-size: 1.5em;
}

.pegasus {
    display: block;
    width: 60px;
    height: 85px;
    margin-left: 20px;
    background: url(https://www.disneyclips.com/images/images/baby-pegasus.png);
    background-size: 60px;
}

.button:hover .pegasus{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.started button:before{
    content: "re";
}

.started .pegasus {
    animation: zoomOutRight 1s;
    animation-iteration-count: 1;
    transform-origin: right center;
}

input {
    display: flex;
    align-items: center;
    width: 300px;
    padding: 20px;
    font-size: 2em;
    border: 0;
    border-radius: 10px;
    box-shadow: inset 1px 0px 5px 4px gray;
    margin-bottom: 100px;
}

.congrats {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    color: rgb(212,175,55);
    text-shadow: 1px 1px gray;
    text-shadow: -1px -1px white;
}

.winner{
    background-color: rgba(216,151,191,1);
    background-image: url(https://media0.giphy.com/media/h5vFcvARn349ZaT27M/giphy.gif?cid=790b7611b53b45c4aeb1efece5eaabf5d35ed6d67cfa2df8&rid=giphy.gif&ct=s)
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  
  @keyframes zoomOutRight {
    100% {
      opacity: 0;
      transform: scale(0.1) translate(500px, 0);
    }
  }


footer {
    background-color: white;
    color: #acada8;
    text-align: center;
   position: absolute;
   bottom: 0;
   width: 100%;
}

header {
    margin-top: 1rem;
}

.link {
    color: rgb(115,53,102);
    font-family: 'Sarpanch',Arial, Helvetica, sans-serif;
}